@tailwind base;
@tailwind components;
@tailwind utilities;

.globalTransitions {
  @apply transition-all duration-300 ease-out;
}
body {
  background: #ffffff;
}

.qouteItems table tr th,
.qouteItems table tr td {
  border-bottom: 1px solid #e4e7ec;
}

.qouteItems table tr th:first-child,
.qouteItems table tr td:first-child {
  border-left: 1px solid #e4e7ec;
}

.qouteItems table tr th:last-child,
.qouteItems table tr td:last-child {
  border-right: 1px solid #e4e7ec;
}

.qouteItems table tr th {
  border-top: 1px solid #e4e7ec;
}

/* top-left border-radius */
.qouteItems table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
.qouteItems table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
.qouteItems table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
.qouteItems table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.componentBorder {
  @apply border border-borderGray rounded-lg p-4;
}

.toastinfoBar {
  @apply bg-primaryBlue;
}

.modalBG {
  @apply bg-black fixed z-30 inset-0 bg-opacity-50 backdrop-blur-sm  grid  place-items-center p-4 overflow-auto;
}
